:root {
  --navigation: #2196f3;
  --background-color-boton: #188ce8;
  --text-regular: #757575;
  --acent: #2f303a;
  --background: #ffffff;
  --text-primary-color: #212121;
  --background-portfolio-color: #e5e5e5;
  --background-team-color: #f5f4fa;
  --fill-icons: #afb1b8;
  --background-social-footer: rgba(255, 255, 255, 0.1);
  --style-botton-radius: 4px;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--background);
  color: var(--text-primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

/* -Глобальные-стили- */

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: currentColor;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Секция */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Контейнер */

.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Лого */

.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--navigation);
}

.logo-header {
  color: var(--text-primary-color);
}

.logo-footer {
  color: var(--background);
}

/* Header */

.header {
  border-bottom: solid #ececec 1px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: 93px;
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.top-menu.link,
.contacts.header.link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  border: none;
}

.top-menu.current-link {
  color: var(--navigation);
}

.top-menu.current-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.list-link:not(:last-child),
.header-item:not(:last-child) {
  margin-right: 50px;
}

.top-menu {
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--text-primary-color);
  transition: color var(--timing-function);
}
.top-menu:hover,
.top-menu:focus {
  color: var(--navigation);
}

/* Контакты */

.contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--text-regular);
  transition: color var(--timing-function);
}

.contacts:hover,
.contacts:focus {
  color: var(--navigation);
}

/* Адрес */

.adress {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--background);
}

/* Герой */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--acent);
  text-align: center;
}

.hero-text {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
}

.button{
  min-width: 200px;
  height: 50px;
  border-radius: var(--style-botton-radius);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--background);
  cursor: pointer;
  background-color: var(--navigation);
  border: none;
  transition: background-color var(--timing-function);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--background-color-boton);
}

/* Мэин */

/* Наши преимущества */

.list.unicals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.benefits {
  padding-bottom: 0;
}

.benefits-icon-list {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-team-color);
  border-radius: var(--style-botton-radius);
}

.unicals-item {
  width: 270px;
}

.benefits-list {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--text-regular);
}

.chapter-work {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}

.chapter-list {
  display: flex;
  justify-content: space-between;
}

.chapter-item > img {
  width: 370px;
  display: block;
}
.chapter-foto {
  position: relative;
}

.chapter-overlal {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  font-weight: 700;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background);
}

/* Тиам */

.section.team {
  background-color: var(--background-team-color);
}

.chapter-team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  width: 270px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team.list {
  display: flex;
  justify-content: space-between;
}

.team-wrapper {
  padding: 30px 16px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-name {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-regular);
}

/* Соц сети */

.social.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--fill-icons);
  transition: color var(--timing-function),
  background-color var(--timing-function);
}

.social-button:hover,
.social-button:focus {
  color: var(--background);
  background-color: var(--navigation);
}

.social-icon {
  fill: currentColor;
  transition: fill var(--timing-function);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--background);
}

/* Постоянные клиенты */

.client-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}

.client .list {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  border: 1px solid var(--fill-icons);
  border-radius: var(--style-botton-radius);
  height: 92px;
  color: var(--fill-icons);
  transition: color var(--timing-function), border-color var(--timing-function);
}

.company-logo:hover,
.company-logo:focus {
  color: var(--navigation);
  border-color: var(--navigation);
}

.logo-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill var(--timing-function);
}

.logo-icon:hover,
.logo-icon:focus {
  fill: var(--navigation);
}

/* Footer */

.footer {
  padding-top: 60px;
  background-color: var(--acent);
}

.footer-container {
	position: relative;
  display: flex;
}

.adress .link {
  display: block;
}

.adress .link:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer {
  width: 206px;
  margin-left: 70px;
}

.text-footer-sicial {
  margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--background);
}

.social-footer.list {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  padding-bottom: 100px;
}

.social-icon-footer {
  fill: var(--background);
}

.social-button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-social-footer);
  transition: background-color var(--timing-function);
}

.social-button-footer:hover,
.social-button-footer:focus {
  background-color: var(--navigation);
}

.follow{
	position: absolute;
	right: 15px;
}

.text-follow{
	margin-top: 12px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--background);
}

.follow-form{
	display: flex;
	justify-content: center;
	align-items: center;
}

.follow-input{
	width: 358px;
  height: 50px;
	padding-left: 16px;
	font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: var(--style-botton-radius);
	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;
}

.follow-input:focus{
	outline:rgba(255, 255, 255, 0.3) ;
}

.follow-input::placeholder{
	font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

}

.follow-button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 12px;
}

.follow-button:hover,
.follow-button:focus {
  background-color: var(--background-color-boton);
}

.icon-follow{
  margin-left: 10px;
}


/* Галерея */

.galery-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galery-link:not(:last-child) {
  margin-right: 8px;
}

.galery-button {
  padding: 6px 22px;
  border-radius: var(--style-botton-radius);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--text-primary-color);
  border: none;
  transition: color var(--timing-function),
  background-color var(--timing-function), box-shadow var(--timing-function);
}

.galery-button.active-btn {
  color: var(--background);
  background-color: var(--navigation);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galery-button:hover,
.galery-button:focus {
  color: var(--background);
  background-color: var(--navigation);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projeckt-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.projeckt-link {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
	transition:box-shadow var(--timing-function);
}

.projeckt-link:hover,
.projeckt-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckt-top-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projeckt-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.projeckt-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-regular);
}

/* Оверлей */

.projeckt-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55em;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform var(--timing-function);
  color: var(--background);
  background-color: rgba(33, 150, 243, 0.9);
}

.projeckt-link:hover .projeckt-top-text,
.projeckt-link:focus .projeckt-top-text {
  transform: translateY(0);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--timing-function), visibility var(--timing-function);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
	padding: 40px 40px;
  width: 528px;
  min-height: 581px;
  border-radius: var(--style-botton-radius);
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus{
  color: var(--navigation);
}

.close-icon{
	fill: currentColor;
  transition: fill var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title{
	margin-bottom: 30px;
	font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
}

.modal-form{
  margin-left: auto;
  margin-right: auto;
}

.form-field{
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}


.form-label{
	margin-bottom: 4px;
	font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input{
	padding-left: 42px;
  height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--style-botton-radius);
	transition: color var(--timing-function),
	outline-color var(--timing-function);
}

.modal-input:focus{
	color: var(--navigation);
	outline-color:var(--navigation);
}

.modal-input:focus + .icon-modal{
  color: var(--navigation);
}

.icon-modal{
	position: absolute;
	bottom: 12px;
	margin-left: 15px;
	fill: currentColor;
}

.form-field.textarea-field{
	margin-bottom: 20px;
}

.modal-textarea{
	width: 100%;
  height: 120px;
	resize: none;
	padding: 12px 16px;
	line-height: 1.71em;
  letter-spacing: 0.03em;
	border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--style-botton-radius);
	transition: color var(--timing-function),
	outline-color var(--timing-function);
}

.modal-textarea:focus{
	color: var(--navigation);
	outline-color: var(--navigation);
}

.modal-textarea::placeholder{
	color: rgba(33, 33, 33, 0.2);
}

.policy-field{
	margin-bottom: 30px;
}

.policy-label{
	display: flex;
	justify-content: center;
	align-items: center;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-label span{
	margin-right: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
  height: 15px;
	border: 2px solid var(--text-primary-color);
	border-radius: 2px;
	transition: background-color var(--timing-function),
	border var(--timing-function),
	fill var(--timing-function);
}

.icon-check{
  fill: transparent;
}

.policy-text{
	font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--navigation);
}

.checkbox{
	position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox:checked +.policy-label span{
	background-color: var(--navigation);
	border:none;
}

.checkbox:checked + .policy-label .icon-check{
  fill: var(--background);
}

.button-modal{
  margin: 0 124px;
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--background-color-boton);
}